# ==============================
# DATABASE (MySQL via Docker)
# ==============================
# รูปแบบ: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://user:password@localhost:3306/db"

# ==============================
# SERVER
# ==============================
PORT=4000
